@import "../../assets/mixins";

.hero {
  position: relative;
  @include d-flex(space-between);
  min-height: 90vh;
  @media (max-width: 940px) {
    flex-direction: column-reverse;
    gap: 50px;
    justify-content: center;
  }
  .left,
  .right {
    width: 50%;
    @media (max-width: 940px) {
      width: 100%;
    }
  }
  .left {
    @include d-flex($a-i: start, $f-d: column, $g: 30px);
    img {
      width: 100%;
    }
    p {
      color: var(--text-light);
      font-size: 18px;
    }
    button {
      padding: 10px 30px;
      font-size: 20px;
      border: none;
      border-radius: 10px;
      background-color: var(--primary);
      color: var(--white);
      transition: 0.2s linear;
      cursor: pointer;
      &:hover {
        background-color: #9cdb0a;
      }
      &:active {
        background-color: #b3d562;
      }
    }
  }
  .center {
    @media (max-width: 940px) {
      width: 70px;
    }
    @media (max-width: 440px) {
      width: 50px;
    }
  }
  .right {
    position: absolute;
    height: 500px;
    width: 500px;
    position: relative;
    @include d-flex;

    div {
      position: absolute;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      @media (max-width: 940px) {
        width: 70px;
        height: 70px;
      }
    }
    .shirt {
      background-image: url("/src/assets/images/t-shirt.png");
      top: 0;
    }
    .yarn {
      background-image: url("/src/assets/images/yarn.png");
      left: 0;
      bottom: 0px;
    }
    .cotton {
      background-image: url("/src/assets/images/cotton.png");
      right: 0;
      bottom: 0px;
    }
    .active {
      background-color: transparent;
      border: 3px solid var(--primary);
      transition: 0.3s linear;
      animation-name: activeAnimation;
      animation-duration: 10s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      top: 0;
      left: 50%;
      transform: translate(-50%);
    }
    @media (max-width: 940px) {
      height: 300px;
      width: 300px;
    }
    @media (max-width: 440px) {
      height: 250px;
      width: 250px;
    }
  }
}
@keyframes activeAnimation {
  0% {
  }
  30% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }
  60% {
    left: 0;
    transform: translate(0, -100%);
    top: 100%;
  }
  100% {
    top: 0;
  }
}

.why {
  @include d-flex($a-i: start, $f-d: column);
  padding-top: 150px;
  padding-bottom: 100px;
  @media (max-width: 500px) {
  }
  .title {
    @include d-flex($a-i: start, $f-d: column, $g: 10px);
    h1 {
      font-size: 32px;
      font-weight: bold;
      @media (max-width: 500px) {
        font-size: 24px;
      }
    }
    div {
      padding: 2px;
      background-color: var(--primary);
      width: 100px;
    }
    p {
      color: var(--text-light);
    }
  }
  .cards {
    @include d-flex($j-s: space-between, $a-i: start, $g: 9%);
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .card {
      width: 100%;
      height: 100%;
      padding: 35px 40px;
      border-radius: 10px;
      box-shadow: 0px 13px 19px #0001;
      @include d-flex($j-s: flex-start, $f-d: column, $g: 20px);
      img {
        width: 100%;
      }
      h3 {
        color: var(--text);
        text-align: start;
        width: 100%;
      }
      p {
        color: var(--text-light);
      }
    }
  }
  @media (max-width: 690px) {
    display: none;
  }
}

.how {
  position: relative;
  background-color: #11aabb;
  min-height: 90vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  @include d-flex(start);
  video {
    top: 50%;
    position: absolute;
    min-height: 100%;
    max-height: 130%;
    @media (max-width: 690px) {
      max-height: 100%;
    }
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container {
    z-index: 1;
    width: 100%;
  }
  .content {
    width: 50%;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    color: var(--white);
    padding: 30px 40px;
    border-radius: 20px;
    @include d-flex($a-i: start, $f-d: column, $g: 40px);
    h1 {
      font-size: 32px;
      @media (max-width: 690px) {
        font-size: 22px;
      }
    }
    p {
      font-size: 18px;
      @media (max-width: 690px) {
        font-size: 16px;
      }
    }
    button {
      padding: 15px 30px;
      background-color: var(--primary);
      color: var(--white);
      border: none;
      border-radius: 10px;
      font-size: 20px;
      font-weight: bold;
      @media (max-width: 690px) {
        padding: 10px 25px;
        font-size: 18px;
      }
    }
    @media (max-width: 690px) {
      width: 100%;
    }
  }
}

.blogs {
  padding-top: 120px;
  padding-bottom: 20px;
  .head {
    @include d-flex(space-between, end);
    .left {
      width: 50%;
      @media (max-width: 550px) {
        width: 100%;
      }
      div {
        width: 100px;
        height: 4px;
        background-color: var(--primary);
        margin: 10px 0;
      }
      h1 {
        font-size: 32px;
        color: var(--text);
      }
      p {
        color: var(--text-light);
      }
    }
    button {
      background-color: var(--white);
      padding: 10px 20px;
      font-size: 18px;
      border-radius: 10px;
      color: var(--primary);
      border: 1px solid var(--primary);
      @media (max-width: 550px) {
        display: none;
      }
    }
  }
  .cards {
    margin-top: 90px;
    @include d-flex($g: 100px);
    display: grid;
    height: max-content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    @media (max-width: 950px) {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
    @media (max-width: 550px) {
      grid-template-columns: 1fr;
    }
    .card {
      * {
        transition: 0.2s ease-out;
      }
      cursor: pointer;
      width: 100%;
      height: 100%;
      @include d-flex($j-s: space-between, $f-d: column, $g: 20px);

      .date {
        color: var(--text-light);
      }
      .img {
        width: 100%;
        height: 200px;

        border-radius: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 0.2s linear;
        background-size: 100% 100%;
      }
      .info {
        @include d-flex(
          $j-s: space-between,
          $a-i: start,
          $f-d: column,
          $g: 10px
        );
        font-size: 14px;
        width: 100%;
        height: calc(100% - 200px);
      }
      .date {
        font-size: 100;
      }
      .heading {
        font-weight: bold;
      }
      .author {
        @include d-flex($j-s: start, $g: 15px);
        .img {
          width: 40px;
          height: 40px;
        }
        .position {
          color: var(--text-light);
          font-weight: 100;
        }
      }
      &:hover {
        * {
          transition: 0.3s linear;
          color: var(--text-light);
        }

        .img {
          background-size: 120% 120%;
        }
      }
    }
  }
}
