@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "theme";

:root {
  @include theme;
}
* {
  scroll-behavior: smooth;
}

body,
body * {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  overflow-x: hidden;
}

section {
  padding: 10px 120px;
  @media (max-width: 990px) {
    padding: 10px 60px;
  }
  @media (max-width: 690px) {
    padding: 10px 20px;
  }
}
